
<html>
<head>
<center>
<br><br><br><br>
<H1>REGISTRATION PAGE </H1>
</center>
</head>
<body background="http://wssb.tbhelper.com/images/2.jpg">
<center>
<table>

<%= form_tag("/search",method:"post")do %>

<tr>
<td>
<%= label_tag(:name,"Username") %></td>
<td><%=text_field_tag(:name)%></td>
<br>
</tr>
<tr> <td>
<%=label_tag(:pass,"Password")%></td>
<td><%=password_field_tag(:pass)%></td>
<br>
</tr>
<tr>
<td>
<%=label_tag(:add,"Address")%></td>
<td>
<%=text_area_tag(:add) %></td>
<br>
</tr>
<tr>
<td>
<%=label_tag(:type,"Type")%></td>
<td>

<%= check_box_tag(:type) %>
<%= label_tag(:type, "Student") %>
<%= check_box_tag(:type) %>
<%= label_tag(:type, "Employee") %>
<br>
</td>
</tr>
<tr>
<td>
<%=label_tag(:gender,"Gender")%></td>
<td>
<%= radio_button_tag(:gender,"Male",:checked) %>
<%= label_tag(:gender,"Male") %>
<%= radio_button_tag(:gender,"Female") %>
<%= label_tag(:gender,"Female") %></td>
<br>
</tr>
<tr>
<td>
<%= label_tag(:exp,"Experience") %></td>
<td>
<%= number_field(:exp,:expp, in: 1.0..20.0, step: 0.5) %>
<br>
</td>
</tr>
<tr>
<td>
<%= label_tag(:dob,"DOB")%></td>
<td>
<%= select_tag(:dob, options_for_select([['1995', 1], ['1996', 2],['1997', 3]])) %>

<%= select_tag(:dob, options_for_select([['1..4', 1], ['5..9', 2],['10..12', 3]])) %>
<%= select_tag(:dob, options_for_select([['1..10', 1], ['11..20', 2],['21..31', 3]])) %>
<br>
</td>
</tr>
<tr>
<td>
<%=submit_tag("Register")%></td></tr>
<br>

<% end%>

</table>
</center>
</body>
</html>